<div class="panel panel-danger">
  <!-- Default panel contents -->
  <div class="panel-heading">Send Notification</div>
  <div class="panel-body" *ngIf="show">
    <form class="form-horizontal" [formGroup]="notificationForm" (ngSubmit)="send(notificationForm.value, notificationForm.valid)">
      
      <div class="form-group">
        <label for="notType" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-4">
          <select class="form-control" id="notType" (change)="changeType($event.target.value)">
            <option value="sms" selected>SMS</option>
            <option value="mail">Email</option>
          </select>
        </div>
      </div>

      <div class="form-group" *ngIf="type == 'sms'">
        <label for="to" class="col-sm-2 control-label">Phone(s) Num</label>
        <div class="col-sm-9">
           <tags-input [idname]="type" (onAddingTags)="addContact($event)"></tags-input> 
        </div>
      </div>

      <div class="form-group" *ngIf="type == 'mail'">
        <label for="subject" class="col-sm-2 control-label">Email(s)</label>
        <div class="col-sm-9">
           <tags-input [idname]="type" (onAddingTags)="addContact($event)"></tags-input> 
        </div>
      </div>

      <div class="form-group">
        <label for="subject" class="col-sm-2 control-label">Subject</label>
        <div class="col-sm-9">
           <input formControlName="subject" class="form-control" id="subject" placeholder="Subject">
        </div>
      </div>

      <div class="form-group" *ngIf="type == 'mail'">
        <label for="body" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-9">
          <tinymce [content]="message_body" (onEditorKeyup)="keyupHandlerFunction($event)"></tinymce>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <button type="submit" class="btn btn-success">Send</button>
        </div>
      </div>
    </form>

  </div>

  <!-- Table -->
  <!-- <table class="table">
    ...
  </table> -->
</div>
